<h1>New game</h1>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<div class="container">
  <h2>Your guess</h2>
  <form action="/score" method="POST">
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name="answer">
    <input type="submit" value="play">
  </form>
</div>
